* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Roboto';
	background-color: #F5F5F5;
}


.pt{
	padding-top: 5%;
}

.pb {
	padding-bottom: 5%;
}
/*-------------nav-----------*/
.fixed{
	position:fixed;
	top:0;
	background-color:#34495E;
	color:#E2E4E7;
	width: 100%;
  	left:0;
  	z-index:5;
  	padding: 0% 5% 0 5%;
}


.navbar{
	margin-bottom: 0%;
}
.navbar-default .navbar-toggle{
	border-color: transparent;
	margin-left: 20px;
}


@media (max-width: 600px) {
  .navbar-header img {
    margin-left: 25%; 
    width: 40%;
    height: 40%;
  }
}


.navbar-default{
	background-color: transparent;
	border-color:transparent;
	margin-top: 2.0rem;
}

.navbar-header > a{
 	font-size: 25px;
    font-weight: bolder;
    color: white;
    margin-left: 11px;
 }
 
.navbar-header > a:hover,
.navbar-header > a:focus{
	text-decoration: none;	
}
 
.navbar-header > i{
	font-size: 26px;
    color: #2ECC71;	
} 
.navbar-nav>li>a {
    padding: 7px 10px 7px 10px;
    border-radius: 12%;
}

.navbar-default .navbar-nav > li > a {
    color: #CDD2D7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	background-color:#2C3E50 ;
	color: #CDD2D7;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #1BBC9B;
}	

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    padding-bottom: 5px;
}

button.navbar-toggle{
    margin-top: 0px;
    padding-top: 5px;
}
/*-------subnav--*/

.subnav{
    background-color: #2ECC71;
    color:#FFFFFF;
    padding: 7% 5% 5% 5%;
}

.breadcrumb{
    background-color: #2ECC71;
    float:right;
    margin-top:60px;
}

.breadcrumb a{
    color:#A8EAC4;
    font-weight: bold;
    text-decoration: none;
}

.breadcrumb a{
    color: white;
}


.breadcrumb .active {
    color: #AFEBC8;
}

/*--------FOOTER--------*/

.footer-one{
	background-color: #34495E;
	color: #CDD2D7;
	 padding: 2% 5% 2% 5%;
}

.media{
	display: flex;
}

.media-left{
	display: inline-block;
}
.media-body{
	display: inline-block;
    vertical-align: top;
}

.media-body p{
	margin-left: 7px
}

.media-body span{
	margin-left: 7px
}

.footer-one i{
	font-size: 8px;
}
.footer-one li{
	list-style: none;
}

.footer-one button{
	background-color:#D9534F;
	color:white;
	border-color: #D9534F;
}

.address p{
	line-height: 66%
}

.footer-two{
	background-color: #2C3E50;
	color: #CDD2D7;
	padding: 4% 4% 4% 5%;
}

.footer-two a{
	text-decoration: none;
	color:#CDD2D7;
}

/*About US*/

.about-us{
	background-color: #2ECC71;
}

.about-us p a.active{
	color: #AFEBC8;
}

/*general*/

section, footer {
    position: relative;
    top: 70px;
}

