@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

#social_networks{
	background-color: #2ECC71;
}

.network{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #1C7A44;
}

.twitter-network{
	padding: 11px;
}

.facebook-network{
	padding: 11px 17px;
}

.google-network{
    font-size: 34px;
    padding: 10px 16px;
}

.latest_projects{
	background-color: #F5F5F5;
}

.pagination-icons{
	background-color: #D9534F!important;
    border: 1px solid red !important;
    color: white;
}

.project{
	background-color: white;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.clients_says{
	background-color: #E74C3C;
}

.source_title_cite{
	font-size: 1.5rem;
}

.hero-image{
	background:url('../images/slider/bg1.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    min-height: 300px;
}

.allh {
    height: 100%;
}

.vcenter {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

@media (min-width: 1200px){
.container {
    max-width: 1200px !important;
}
}

@media (min-width: 768px){
.col-sm-4 {
    width: 31%;
}
}

@media (min-width: 992px){
.col-md-3 {
    width: 25%;
}
}

@media (max-width: 767px){
.mb-14 {
    margin-bottom: 14px;
}
.ml-0{
	margin-left: 0;
}
}